.. _recipes_<mynewrecipe>:

.. include:: ../../common.txt

Title
=====

This recipe is available via |AutoAssess|.

Overview
--------

Brief description of the diagnostic.


Available recipes and diagnostics
---------------------------------

The assessment code is available from the `AutoAssess`_ repository.


User settings in recipe
-----------------------

There are no user settings for this recipe


Variables
---------

* var1 (realm, frequency, dimensions), e.g. pr (atmos, monthly mean, longitude latitude time)


Observations and reformat scripts
---------------------------------

*Note: (1) obs4MIPs data can be used directly without any preprocessing;
(2) see headers of reformat scripts for non-obs4MIPs data for download
instructions.*

* xxx

  *Reformat script:* <myreformatscript.py>

References
----------

* xxx

Example plots
-------------

.. _fig_mynewdiag_1:
.. figure::  /recipes/figures/<mynewdiagnostic>/awesome1.png
   :align:   center

   Add figure caption here.
