# (C) Crown Copyright 2026, Met Office.
# The LICENSE.md file contains full licensing details.
[metadata]
base_date = 1850-01-01T00:00:00
branch_method = no parent
license = GCModelDev model data is licensed under the Open Government License v3 (https://www.nationalarchives.gov.uk/doc/open-government-licence/version/3/)
mip = ESMVal
mip_era = GCModelDev
model_type = AGCM AER

[common]
mode = relaxed
package = round-1

[data]
mass_data_class = crum
model_workflow_branch = trunk
model_workflow_revision = not used except with data request

[misc]
atmos_timestep = 1200

[conversion]
mip_convert_plugin = UKESM1
skip_archive = True
cylc_args = --no-detach -v
